<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>La libreria del 8</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Playfair+Display">
</head>
<body>
    
    <header>
        <div class="top-header">
            <div>

                <ul class="herramientas">
                    <div class="logo"> 
                        <img src="/img/logo.jpeg" alt="Logo libreria">
                    </div>
                    <li><a href="/register">Crear cuenta</a></li>
                    <li><a href="/login">Ingresá</a></li>
                    <li><a href="productCart">Mis compras</a></li>
                 </ul>
            </div>

            <div class="buscador">
                <p>Encontrá tus libros favoritos</p>
                <input type="text">
            </div>
            
            <p class="slogan">Bienvenido al sitio de libros que siempre soñaste</p>
        </div>
        <nav>
            <ul class="herramientas2">
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Los más vendidos</a></li>
                <li><a href="#">Destacados en tapa dura</a></li>
                <li><a href="#">Destacados en ebooks</a></li>
            </ul>
        </nav>
        <!-- <div class="burger-menu"> 
            <i class="fa fa-bars burger"></i>
        </div>-->
    </header>
    
    <main class="secciones">
        <section>
            <h2 class="titseccion">Novedades</h2>
            <article>
                <img src="\img\aurora.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Los más vendidos</h2>
            <article>
                <img src="\img\brujas.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en tapa dura</h2>
            <article>
                <img src="\img\dolina.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en Ebooks</h2>
            <article>
                <img src="\img\rosa.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
    </main>

    <footer>
        <article class="footer1">
            <ul>
                <li>Quíenes somos</li>
                <li>Preguntas frecuentes</li>
                <li>Términos y condiciones</li>
            </ul>
              <ul>
                <li>Defensa de consumidores y usuarios</li>
                <li>Ley de Defensa del consumidor</li>
                <li>Cómo comprar</li>
                <li>Contacto</li>
            </ul>        
        </article>
        <article class="footer2">
        <div class="qr">
            <img src="\img\qr.jpeg" alt="QR data fiscal">
        </div>
        <div class="redesSociales">
            <img src="\img\redesSociales.png" alt="">
        </div>
        </article>
        <p class= "centrado">Copyright libreria del 8</p>

    </footer>
        
</body>
</html>