<!DOCTYPE html>
<html lang="en">

<!-- Head -->
    <%- include("./partials/head") %> 

<body>
    
    <!-- Header -->
    <%- include('./partials/header') %>
    <main class="secciones">
        <section>
            <h2 class="titseccion">Novedades</h2>
            <article>
                <img src="\img\aurora.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Los más vendidos</h2>
            <article>
                <img src="\img\brujas.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en tapa dura</h2>
            <article>
                <img src="\img\dolina.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en Ebooks</h2>
            <article>
                <img src="\img\rosa.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
    </main>

    <!-- Footer -->
    <%- include("./partials/footer") %>
    
</body>
</html>