<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head") %>

<body>
    
    <!-- Header -->
    <%- include("./partials/header") %>

    <main>

        <form action="" class="formularioLogin">

            <h2>Iniciar Sesion</h2>

            <div class="nombreUsuario">
                <label for="nombreUsuario">Nombre de usuario</label>
                <input type="text" name="nombreUsuario" id="nombreUsuario">
            </div>

            <div class="contrasenia">
                <label for="constrasenia">Contraseña</label>
                <input type="password" name="constrasenia" id="constrasenia">
            </div>

            <div>
                <input type="checkbox" name="recordame">Recordame
            </div>

            <p><a href="#">Olvide mi contraseña</a></p>

            <div class="iniciarSesion">
                <button type="submit">Iniciar Sesion</button>
            </div>

        </form>

    </main>

    <!-- Footer -->
    <%- include("./partials/footer") %>

</body>

</html>