<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head") %>

<body>

    <!-- Header -->
    <%- include("./partials/header") %>

    <main>

    </main>
    
    <!-- Footer -->
    <%- include("./partials/footer") %>
    
</body>
</html>