<footer>
    <article class="footer1">
        <ul>
            <li>Quíenes somos</li>
            <li>Preguntas frecuentes</li>
            <li>Términos y condiciones</li>
        </ul>
          <ul>
            <li>Defensa de consumidores y usuarios</li>
            <li>Ley de Defensa del consumidor</li>
            <li>Cómo comprar</li>
            <li>Contacto</li>
        </ul>        
    </article>
    <article class="footer2">
    <div class="qr">
        <img src="\img\qr.jpeg" alt="QR data fiscal">
    </div>
    <div class="redesSociales">
        <img src="\img\redesSociales.png" alt="">
    </div>
    </article>
    <p class= "centrado">Copyright libreria del 8</p>

</footer>