<header>
    <div class="top-header">
        <div>

            <ul class="herramientas">
                <div class="logo"> 
                    <img src="/img/logo.jpeg" alt="Logo libreria">
                </div>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/login">Ingres치</a></li>
                <li><a href="productCart">Mis compras</a></li>
             </ul>
        </div>

        <div class="buscador">
            <p>Encontr치 tus libros favoritos</p>
            <input type="text">
        </div>
        
        <p class="slogan">Bienvenido al sitio de libros que siempre so침aste</p>
    </div>
    <nav>
        <ul class="herramientas2">
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Los m치s vendidos</a></li>
            <li><a href="#">Destacados en tapa dura</a></li>
            <li><a href="#">Destacados en ebooks</a></li>
        </ul>
    </nav>
    <!-- <div class="burger-menu"> 
        <i class="fa fa-bars burger"></i>
    </div>-->
</header>